* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

.container {
    display: flex;
}

.logo {
    margin-top: 8px;
    margin-right: 20px;
}

.navbar {
    display: flex;
    padding: 10px;
}

.menu {
    flex: 1;
    margin-top: 24px;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.menu li {
    margin-left: 10px;
    font-weight: 700;
}

.menu-link {
    padding: 1rem;
    position: relative;
}

.menu-link::after {
    content: "";
    height: 4px;
    width: 0px;
    background: blue;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.menu-link:hover::after {
    width: 50%;
    transform: translateX(100%);
}

.login {
    float: right;
    margin-right: -100px;
    margin-top: -10px;
    margin-left: 100px;
}

.login button {
    width: 94px;
    height: 36px;
    border-radius: 5px;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.login button a {
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

.login button:hover {
    background-color: coral;
    border: 1px solid coral;
}

.login button a:hover {
    color: aliceblue;
}

.register {
    float: right;
    margin-right: -350px;
    margin-top: -10px;
    margin-left: 100px;
    outline: none;
}

.register button {
    width: 120px;
    height: 36px;
    border-radius: 5px;
    background-color: coral;
    border: 1px solid coral;
}

.register button a {
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

.register button:hover {
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.slide .slide-right {
    display: flex;
    float: right;
    margin-top: -520px;
}

.slide-left {
    margin-bottom: -50px;
    margin-left: 150px;
}

.slide-text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-left: 500px;
    margin-top: -280px;
    width: 650px;
    height: 200px;
}

.slide-text h1 {
    font-size: 40px;
    line-height: 1.25;
    margin: 0 0 10px;
    color: blue;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 20px;
}

.slide-text p {
    font-size: 25px;
    margin-left: 40px;
    margin-top: 20px;
}

.slide-slick {
    margin-top: 80px;
    background-color: #f7f9fa;
    width: 100%;
    height: 120px;
}

.slide-slick ul li {
    display: flex;
    float: left;
    margin-left: 55px;
    padding-right: 40px;
    margin-top: 30px;
}

.col-1 {
    padding-top: 20px;
}

.title-section {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(5, 5, 126);
}

.row {
    margin-top: 70px;
}

.row-img {
    margin-left: 100px;
}

.row-1 {
    display: flex;
    float: right;
    margin-top: -600px;
    margin-left: 200px;
    margin-right: 60px;
}

.row-1 img {
    margin-right: 30px;
    margin-top: -4px;
}

.row-1 h3 {
    color: rgb(5, 5, 126);
    margin-right: -180px;
    font-size: 25px;
}

.row-1 p {
    margin-top: 50px;
    margin-left: -140px;
    font-size: 18px;
    line-height: 1.5;
}

.row-3 {
    display: flex;
    float: right;
    margin-top: -240px;
    margin-left: 150px;
    margin-right: 60px;
}

.row-3 img {
    margin-right: 15px;
    margin-top: -4px;
}

.row-3 h3 {
    margin-right: -200px;
    font-size: 25px;
    color: rgb(5, 5, 126);
}

.row-3 p {
    margin-top: 50px;
    margin-left: -140px;
    line-height: 1.5;
    font-size: 18px;
}

.row-2 {
    display: flex;
    float: right;
    margin-top: -420px;
    margin-left: 150px;
    margin-right: 60px;
}

.row-2 img {
    margin-right: 15px;
    margin-top: -4px;
}

.row-2 h3 {
    margin-right: -200px;
    font-size: 25px;
    color: rgb(5, 5, 126);
}

.row-2 p {
    margin-top: 50px;
    margin-left: -190px;
    line-height: 1.5;
    font-size: 18px;
}